<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sam_chordas.android.stockhawk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE" />

    <permission
        android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MyStocksActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.StockDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".service.StockTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service android:name=".service.StockIntentService" />

        <provider
            android:name=".data.generated.QuoteProvider"
            android:authorities="com.sam_chordas.android.stockhawk.data.QuoteProvider"
            android:exported="true" />

        <receiver android:name=".widget.StockQuoteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stock_quote_widget_info" />
        </receiver>

        <!--
        2. The service that will send our collection data to our widget. It needs the
        permission android.permission.BIND_REMOTEVIEWS
        -->
        <service
            android:name=".widget.StockQuoteWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Shows a toast whenever an invalid stock symbol is added -->
        <receiver
            android:name=".service.InvalidStockSymbolReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sam_chordas.android.stockhawk.service.InvalidStockSymbolReceiver" />
            </intent-filter>
        </receiver>


    </application>

</manifest>